html {
  font-size: 125%;
}
body {
  font-size: .75em;
  background: #f0f0f0;
  font-family: 'raleway', 'open sans', 'helvetica', 'arial', sans-serif;
  margin: 0px;
}

.block-element {
  width: 100%;
  position: static;
  display: block;
}

.actionable-example {
  background: #444;
  border-radius: 3px;
  border: 1px dashed #222;
  color: #ffbe57;
  padding: 0 10px 10px;
  z-index: 1000;
  position: relative;
}

.actionable-example.pending {
  background: #aaa;
}
.actionable-example.fulfilled {
  background: #00dd55;
}
.actionable-example.rejected {
  background: #ee3300;
}

aside {
  color: #555;
}

aside a {
  color: #888888;
}
aside a:hover, aside a:active, aside a:focus {
  color: #999999;
}

.ui-header {
  background: #17B56C;
  border-bottom: 1px solid #0b6033;
  min-height: 2.5rem;
  line-height: 2.5rem;
  z-index: 1000;
}

.ui-header h1 {
  margin: 0;
  color: #0b6033;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.66666667em;
}
.ui-header h3 {
  font-size: .8rem;
  color: #fff;
}

.ui-logo {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.billboard-right {
  display: inline-block;
  width: 1em;
  height: 1em;
  float: right;
  text-align: center;
  font-size: 8rem;
}

.ui-logo:before {
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: url('../interactive.svg') center center / 100% 100% no-repeat;
}

.ui-body {
  margin-top: .25rem;
}

h2 {
  font-size: 1.25rem;
}

section.container-fluid {
  margin: 5px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.application-template {
  margin: 2px 8px 10px 8px;
}
