<h2>Demos index</h2>

<h4>General Links to Homepage</h4>
<ol>
  <li><a href="/">A manual link with touch support</a></li>
  <li>{{#link-to 'application'}}A generated link with touch support{{/link-to}}</li>
</ol>

<ol>
  <li>{{link-to 'tap' 'taps'}}</li>
</ol>
